/*=========================================================
                    ADMIN DASHBOARD
=========================================================*/

/*---------------------------------------------------------
    Dashboard Cards
---------------------------------------------------------*/

.admin-card{

    background:var(--white);

    color:var(--text);

    border-radius:15px;

    padding:20px;

    box-shadow:0 4px 12px rgba(0,0,0,.15);

}

.admin-card h3{

    font-size:2rem;

    font-weight:700;

}

.admin-card p{

    margin:0;

    opacity:.8;

}

.admin-card table{

    color:#ffffff;

}

.admin-card th{

    color:#60a5fa;

}

/*---------------------------------------------------------
    Order Items
---------------------------------------------------------*/

.order-item-card{

    border-bottom:1px solid rgba(255,255,255,.15);

    padding-bottom:15px;

}

.subscription-card{

    background:linear-gradient(
        135deg,
        #7c3aed,
        #9333ea
    );

    color:#fff;

}

.subscription-card .card-icon{

    width:70px;

    height:70px;

    border-radius:18px;

    background:rgba(255,255,255,.18);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

}

.subscription-card h6{

    color:rgba(255,255,255,.85);

    margin-bottom:8px;

    font-weight:600;

}

.subscription-card h2{

    font-size:2rem;

    font-weight:700;

    margin-bottom:10px;

}

.subscription-card small{

    color:rgba(255,255,255,.85);

}

.subscription-card .badge{

    font-size:.85rem;

    padding:8px 14px;

    border-radius:20px;

}

.card-info{

    flex:1;

}