/*=========================================================
                    SIDEBAR
=========================================================*/

.sidebar{

    width:280px;

    background:#0d3b66;

    color:white;

    position:fixed;

    top:0;

    left:0;

    bottom:0;

    padding:28px 18px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    transition:.3s;

}

/* Sidebar Navigation */

.sidebar-menu,
.sidebar-bottom{

    list-style:none;

    padding:0;

    margin:0;

}

.sidebar-menu li,
.sidebar-bottom li{

    margin-bottom:15px;

}

.sidebar-menu li a,
.sidebar-bottom li a{

    display:flex;

    align-items:center;

    gap:16px;

    padding:15px 18px;

    border-radius:16px;

    font-weight:600;

    transition:.35s;

}

.sidebar i{

    width:24px;

    font-size:22px;

    text-align:center;

}

.sidebar-menu li a:hover,
.sidebar-bottom li a:hover{

    background:rgba(255,255,255,.12);

    transform:translateX(6px);

}

.sidebar a.active{

    background:white;

    color:#0d3b66;

    box-shadow:

        0 10px 25px rgba(0,0,0,.15);

}

.sidebar a.active i{

    color:#0d3b66;

}

/* Sidebar Toggle Button */

.toggle-btn{

    background:none;

    border:none;

    color:white;

    font-size:1.5rem;

    margin-bottom:20px;

    cursor:pointer;

}

/* Sidebar Collapse */

.sidebar.collapsed{

    width:80px;

}

.sidebar.collapsed .logo,
.sidebar.collapsed span{

    display:none;

}