

@keyframes slideUp{

0%{

opacity:0;

transform:translateY(80px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

@keyframes fadeIn{

0%{

opacity:0;

}

100%{

opacity:1;

}

}

@keyframes float{

0%{

transform:

translateY(0)

rotate(0deg);

}

50%{

transform:

translateY(-18px)

rotate(8deg);

}

100%{

transform:

translateY(0)

rotate(0deg);

}

}
@keyframes bubbles{

0%{

transform:translateY(0);

opacity:0;

}

30%{

opacity:1;

}

100%{

transform:translateY(-420px);

opacity:0;

}

}

@keyframes twinkle{

0%{

opacity:.2;

transform:scale(.9);

}

50%{

opacity:1;

transform:scale(1.2);

}

100%{

opacity:.2;

transform:scale(.9);

}

}

@keyframes heroZoom{

0%{

transform:scale(1);

}

100%{

transform:scale(1.08);

}

}

@keyframes bounce{

0%,20%,50%,80%,100%{

transform:translate(-50%,0);

}

40%{

transform:translate(-50%,-10px);

}

60%{

transform:translate(-50%,-5px);

}

}



@keyframes rise{

0%{

transform:translateY(0);

opacity:0;

}

20%{

opacity:1;

}

100%{

transform:translateY(-900px);

opacity:0;

}

}

@keyframes pulseLightning{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}