/*====================================
PREMIUM SERVICE CARD
====================================*/
.service-header{
margin-top:80px;
margin-bottom:40px;
}


.service-card{

    position:relative;

    background:#fff;

    border-radius:26px;

    padding:40px 30px;

    overflow:hidden;

    transition:.45s;

    border:1px solid rgba(13,110,253,.08);

    box-shadow:

    0 15px 45px rgba(0,0,0,.06);

    height:100%;

}

.service-card:hover{

    transform:

        translateY(-15px);

    box-shadow:

        0 30px 70px rgba(13,110,253,.18);

}

.service-card::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:5px;

    background:

    linear-gradient(

        90deg,

        #0d6efd,

        #38bdf8,

        #0dcaf0

    );

}

.service-icon{

    width:90px;

    height:90px;

    margin:auto;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:42px;

    background:

        linear-gradient(

            135deg,

            #eaf4ff,

            #ffffff

        );

    box-shadow:

        0 15px 35px rgba(13,110,253,.15);

    transition:.45s;

}

.service-price{

    margin:20px 0;

    font-size:36px;

    font-weight:800;

    color:#0d6efd;

}

.service-price span{

    font-size:15px;

    color:#888;

}

.service-card ul{

    margin-top:25px;

    padding:0;

    list-style:none;

}

.service-card li{

    padding:8px 0;

    color:#555;

    font-size:15px;

}

.service-btn{

    display:inline-flex;

    align-items:center;

    gap:8px;

    margin-top:30px;

    text-decoration:none;

    color:white;

    background:

        linear-gradient(

            135deg,

            #0d6efd,

            #38bdf8

        );

    padding:14px 28px;

    border-radius:40px;

    transition:.45s;

}

.service-btn:hover{

    color:white;

    transform:

        translateX(8px);

}

.featured-service{

    transform:scale(1.05);

    border:2px solid #0d6efd;

    background:

    linear-gradient(

        white,

        #f7fbff

    );

}


.featured-service:hover{
transform:scale(1.05);
}

.popular-badge{

    position:absolute;

    top:20px;

    right:-35px;

    background:#0d6efd;

    color:white;

    padding:8px 45px;

    transform:rotate(40deg);

    font-size:12px;

    font-weight:700;

}

.delivery-banner{

    margin-top:70px;

    padding:50px;

    border-radius:30px;

    color:white;

    background:

    linear-gradient(

        135deg,

        #0d6efd,

        #38bdf8

    );

    box-shadow:

        0 25px 60px rgba(13,110,253,.25);

}

#Ourservice-container{

    position:relative;

}

#Ourservice-container::before{

    content:"";

    position:absolute;

    width:300px;

    height:300px;

    border-radius:50%;

    background:

    rgba(56,189,248,.08);

    top:-80px;

    left:-120px;

    z-index:-1;

}

.process-card{

    position:relative;

    background:white;

    border-radius:25px;

    padding:45px 25px;

    transition:.45s;

    overflow:hidden;

    border:1px solid rgba(13,110,253,.08);

    box-shadow:

        0 20px 45px rgba(0,0,0,.06);

    height:100%;

}

.process-card:hover{

    transform:

        translateY(-15px);

    box-shadow:

        0 35px 70px rgba(13,110,253,.16);

}

.process-card::before{

    content:"";

    position:absolute;

    left:0;

    top:0;

    width:100%;

    height:5px;

    background:

    linear-gradient(

        90deg,

        #0d6efd,

        #38bdf8

    );

}

.process-card i{

    width:85px;

    height:85px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    margin-bottom:25px;

    border-radius:50%;

    font-size:40px;

    color:#0d6efd;

    background:#eef6ff;

    transition:.45s;

}

.process-card:hover i{

    transform:

        rotate(10deg)

        scale(1.15);

    background:#0d6efd;

    color:white;

}

.timeline-line{

    position:absolute;

    top:50%;

    right:-55px;

    width:90px;

    height:4px;

    background:

    linear-gradient(

        90deg,

        #0d6efd,

        #38bdf8

    );

    border-radius:50px;

}

.step-time{

display:block;

margin-bottom:18px;

font-size:13px;

font-weight:600;

color:#0d6efd;

}

.express-section{

padding:100px 0;

}

.express-card{

position:relative;

overflow:hidden;

padding:70px;

border-radius:35px;

display:flex;

justify-content:space-between;

align-items:center;

background:

linear-gradient(

135deg,

#FFD43B,

#FFB703

);

box-shadow:

0 35px 80px rgba(255,193,7,.35);

}

.express-card h2{

font-size:48px;

font-weight:800;

margin-bottom:20px;

}

.express-btn{

display:inline-flex;

align-items:center;

gap:10px;

padding:16px 34px;

margin-top:25px;

border-radius:40px;

background:#0d6efd;

color:white;

text-decoration:none;

transition:.4s;

}

.express-btn:hover{

transform:

translateY(-5px);

color:white;

}

.express-right{

font-size:180px;

opacity:.18;

animation:pulseLightning 2s infinite;

}


/*=========================
ABOUT SECTION
=========================*/

#aboutus-container{

padding:90px 0;
top:40%;

}

.section-tag{

display:inline-block;

padding:8px 18px;

border-radius:30px;

background:#eaf4ff;

color:#0d6efd;

font-weight:700;

letter-spacing:1px;

margin-bottom:18px;

}

.about-title{

font-size:48px;

font-weight:800;

margin-bottom:20px;

}

.about-subtitle{

font-size:18px;

line-height:1.8;

color:#666;

margin-bottom:35px;

}

.about-features{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

margin-top:35px;

}

.about-features div{

padding:18px;

border-radius:18px;

background:white;

box-shadow:0 15px 35px rgba(0,0,0,.06);

transition:.4s;

}

.about-features div:hover{

transform:translateY(-8px);

}

.about-features i{

font-size:22px;

color:#0d6efd;

margin-right:10px;

}

.about-stats{

display:flex;

gap:50px;

margin-top:45px;

flex-wrap:wrap;

}

.about-stats h3{

font-size:34px;

font-weight:800;

color:#0d6efd;

}

/*=========================
CONTACT
=========================*/

.contact-info-card{

padding:28px;

margin-bottom:22px;

border-radius:22px;

background:white;

box-shadow:0 18px 45px rgba(0,0,0,.06);

transition:.4s;

}

.contact-info-card:hover{

transform:translateY(-10px);

box-shadow:0 30px 60px rgba(13,110,253,.15);

}

.contact-info-card i{

width:65px;

height:65px;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

background:#eef6ff;

font-size:28px;

color:#0d6efd;

margin-bottom:18px;

transition:.4s;

}

.contact-info-card:hover i{

background:#0d6efd;

color:white;

transform:rotate(10deg);

}

.contact-form-card{

padding:40px;

border-radius:30px;

background:white;

box-shadow:0 25px 55px rgba(0,0,0,.08);

}

.contact-form-card input,

.contact-form-card textarea{

border-radius:16px;

padding:15px;

border:1px solid #ddd;

transition:.35s;

}

.contact-form-card input:focus,

.contact-form-card textarea:focus{

border-color:#0d6efd;

box-shadow:0 0 15px rgba(13,110,253,.18);

}

/*=====================================
GET IN TOUCH
======================================*/

.contact-info-wrapper{

    background:#fff;

    padding:40px;

    border-radius:30px;

    box-shadow:0 20px 60px rgba(0,0,0,.08);

    height:100%;

}

.contact-title{

    font-size:36px;

    font-weight:800;

    margin-bottom:10px;

    color:#0d3b66;

}

.contact-subtitle{

    color:#777;

    margin-bottom:35px;

    line-height:1.8;

}

.contact-info-card{

    display:flex;

    align-items:center;

    gap:20px;

    padding:22px;

    border-radius:20px;

    margin-bottom:18px;

    background:#fff;

    border:1px solid rgba(13,110,253,.08);

    transition:.45s;

    cursor:pointer;

}

.contact-info-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 45px rgba(13,110,253,.15);

}

.contact-icon{

    width:70px;

    height:70px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#eef6ff;

    color:#0d6efd;

    font-size:28px;

    transition:.45s;

}

.contact-info-card:hover .contact-icon{

    background:#0d6efd;

    color:white;

    transform:rotate(12deg) scale(1.12);

}

.contact-social{

    display:flex;

    gap:15px;

    margin-top:30px;

}

.contact-social a{

    width:50px;

    height:50px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#eef6ff;

    color:#0d6efd;

    text-decoration:none;

    transition:.4s;

}

.contact-social a:hover{

    background:#0d6efd;

    color:#fff;

    transform:translateY(-5px);

}

/*=========================
WHY CHOOSE US
==========================*/

.why-section{

padding:100px 0;

background:#f8fbff;

}

.why-card{

background:white;

padding:40px 30px;

border-radius:25px;

text-align:center;

transition:.45s;

box-shadow:0 20px 45px rgba(0,0,0,.06);

height:100%;

}

.why-card:hover{

transform:translateY(-12px);

box-shadow:0 35px 70px rgba(13,110,253,.18);

}

.why-icon{

width:90px;

height:90px;

margin:auto;

margin-bottom:25px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:#eef6ff;

font-size:40px;

color:#0d6efd;

transition:.45s;

}

.why-card:hover .why-icon{

background:#0d6efd;

color:white;

transform:rotate(10deg) scale(1.12);

}

.footer{

background:#081b33;

color:white;

padding:80px 0 30px;

}

.footer h5{

margin-bottom:25px;

font-weight:700;

}

.footer ul{

padding:0;

list-style:none;

}

.footer li{

margin-bottom:15px;

}

.footer a{

color:#ddd;

text-decoration:none;

transition:.35s;

}

.footer a:hover{

color:#38bdf8;

}

.footer-social{

display:flex;

gap:15px;

margin-top:25px;

}

.footer-social a{

width:45px;

height:45px;

border-radius:50%;

background:rgba(255,255,255,.08);

display:flex;

justify-content:center;

align-items:center;

}

.footer input{

width:100%;

padding:14px;

border-radius:14px;

border:none;

margin-bottom:15px;

}

.footer button{

width:100%;

padding:14px;

border:none;

border-radius:14px;

background:#0d6efd;

color:white;

font-weight:700;

transition:.35s;

}

.footer button:hover{

background:#38bdf8;

}

/*=============================================
LOGIN & SIGNUP FLOATING BACKGROUND
=============================================*/

.login-modal,
.signup-modal{

    position:relative;

    overflow:hidden;

    border-radius:28px;

}

.modal-floating{

    position:absolute;

    inset:0;

    pointer-events:none;

    overflow:hidden;

    z-index:25;

}

.modal-body{

    position:relative;

    z-index:5;

}

.modal-bubble{

    position:absolute;

    z-index:30;

    pointer-events:auto;

    cursor:pointer;

    width:55px;

    height:55px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

    backdrop-filter:blur(18px);

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.20);

    box-shadow:

    0 8px 20px rgba(0,0,0,.15);

    opacity:.55;

    cursor:pointer;

    opacity:.75;

    transform:scale(.8);

    pointer-events:auto;

}

.bubble-premium{

    top:8%;

    left:8%;

}

.bubble-clean{

    top:20%;

    right:8%;

}

.bubble-truck{

    top:20%;

    left:-1%;

}

.bubble-fold{

    bottom:8%;

    right:12%;

}

.bubble-love{

    bottom:10%;

    left:15%;

}

.bubble-leaf{

    top:75%;

    right:9%;

}

.bubble-premium{

    animation:
    modalFloat 9s ease-in-out infinite;

}

.bubble-clean{

    animation:
    modalFloat 7s ease-in-out infinite;

}

.bubble-truck{

    animation:
    modalFloat 11s ease-in-out infinite;

}

.bubble-fold{

    animation:
    modalFloat 8s ease-in-out infinite;

}

.bubble-love{

    animation:
    modalFloat 10s ease-in-out infinite;

}

.bubble-leaf{

    animation:
    modalFloat 6s ease-in-out infinite;

}

.burst-particle{

    position:fixed;

    width:10px;

    height:10px;

    border-radius:50%;

    background:rgba(255,255,255,.85);

    pointer-events:none;

    z-index:999999;

    animation:particleBurst .8s ease forwards;

}

#bubblePopup{

position:fixed;

inset:0;

display:flex;

justify-content:center;

align-items:center;

background:rgba(0,0,0,.25);

backdrop-filter:blur(6px);

opacity:0;

visibility:hidden;

transition:.4s;

z-index:99999;

}

.popup-card{

width:320px;

padding:35px;

border-radius:28px;

text-align:center;

background:rgba(255,255,255,.18);

backdrop-filter:blur(25px);

box-shadow:

0 30px 60px rgba(0,0,0,.25);

transform:scale(.7);

transition:.4s;

}


#bubblePopup.show{

opacity:1;

visibility:visible;

}

#bubblePopup.show .popup-card{

transform:scale(1);

}

#popupIcon{

font-size:70px;

margin-bottom:18px;

animation:

popupFloat

2s infinite;

}

#popupTitle{

font-size:28px;

font-weight:700;

color:#f8fbff;

margin-bottom:12px;

}

#popupMessage{

font-size:16px;

color:#f8fbff; 

line-height:1.7;

}

.ripple{

    position:fixed;

    width:30px;

    height:30px;

    border-radius:50%;

    border:2px solid rgba(255,255,255,.7);

    pointer-events:none;

    animation:ripple .7s ease forwards;

    z-index:99999;

}


@media(max-width:992px){

.timeline-line{

display:none;

}

}