body {
font-family: 'segoe UI', sans-serif;
}

/* Navbar */

.navbar{
    padding: 15px 0;
}
.custom-toggle-icon{
    color:#124f8a;
    font-size:1.5rem;
    font-weight:bold;
}

.navbar-toggler{
    border-color:#0d3b66;
}

.navbar-brand{
    font-size: 1.7rem;
    color:#0d3b66 !important;
}

.navbar .nav-link{
    color:#0d3b66;
    font-weight:500;
    padding: 10px 18px; 
    border-radius:30px;
    transition: all 0.3s ease;
}

.navbar .nav-link:hover{
    background-color:#e6f0fa;
    color:#0d3b66;
}
.login-btn{
    color:#0d3b66;
    font-weight:500;
    padding: 10px 18px; 
    border-radius:30px;
    transition: all 0.3s ease;
}

.login-btn:hover{
    background-color:#e6f0fa;
    color:#0d3b66;
}

.signup-btn{
    color:#0d3b66;
    font-weight:500;
    padding: 10px 18px; 
    border-radius:30px;
    transition: all 0.3s ease;
}
.signup-btn:hover{
    background-color:#e6f0fa;
    color:#0d3b66;
}

/* Heor */
.textcolor{
    color:#124f8a;
}
.hero {
    min-height:85vh;
    display:flex;
    align-items:center;
}

.hero-title{
    font-size:4rem;
    font-weight:700;
    color:#0d3b66;
}

.hero-text{
    color:#666;
    font-size:1.2rem;
}

.book-btn{
    background:#0d3b66;
    border: none;
    padding: 12px 30px;
    border-radius:10px;
}
.book-btn:hover{
    background:#124f8a;
}
.hero-container{
    background-image: url("../images/dan-gold.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    margin-top:-50px;

    min-height: 20vh;
}
.textedit{
    padding:60px;
}
.textedit p{
    font-weight:400;
}

.features{
    width: 50%;
    margin-top: 30px;
}

.features h6{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.features p{
    font-size: 15px;
    margin: 0;
}

.feature-icon{
    font-size:1.8rem;
}



/* Contact Section */
.contact-section{
    background:#f8f9fa;
}

.contact-card{
    border: none;
    border-radius:20px;
}

.contact-card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

.mb-3{
    text-align:left;
    font-size: 1.3rem;
}
.img-contact{
    margin-top:-10px;
}

.img-contact img{
    width:100%;
    height:auto;
}

/* Scrolltop arrow*/
.scroll-top{
    position:fixed;
    bottom:20px;
    right:20px;

    width:50px;
    height:50px;

    background:#0d3b66;
    color:white;

    border:none;
    border-radius:50%;

    display:none;
    align-items:center;
    justify-content:center;

    cursor:pointer;
    font-size:24px;

    box-shadow:0 4px 10px rgba(0,0,0,0.3);

    z-index:999;
    transition:0.3s;
}

.scroll-top:hover{
    background:#124f8a;
    transform:translateY(-5px);
}

/* footer */

footer{
    margin-top:50px;
}

/* LOGIN & SIGNUP MODALS */

.login-modal,
.signup-modal{
    border:none;
    border-radius:20px;
    overflow:hidden;
}

.login-modal .modal-body,
.signup-modal .modal-body{
    padding:40px;
}

.login-modal h2,
.signup-modal h2{
    color:#0d3b66;
}

.login-btn-custom{
    background:#0d3b66;
    border:none;
    padding:12px;
    border-radius:10px;
}

.login-btn-custom:hover{
    background:#124f8a;
}

.input-group-text{
    background:#f8f9fa;
    border-right:none;
}

.input-group .form-control{
    border-left:none;
}

.modal-content{
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}


/*===============================
 HERO SECTION
================================*/

.hero-section{

    margin-top:15px;

    margin-bottom:50px;

}

.hero-image{

    height:520px;

    object-fit:cover;

    border-radius:28px;

    filter:brightness(.72);

}

.carousel-item{

    position:relative;

}

.carousel-item::after{

    content:"";

    position:absolute;

    inset:0;

    border-radius:28px;

    background:linear-gradient(
        rgba(0,15,40,.20),
        rgba(0,20,50,.65)
    );

}

.carousel-caption{

    left:8%;

    right:8%;

    bottom:15%;

    text-align:left;

    z-index:2;

}

.carousel-caption h1{

    font-size:3.3rem;

    font-weight:700;

    color:#fff;

    margin-bottom:20px;

}

.carousel-caption p{

    font-size:1.15rem;

    max-width:520px;

    color:#fff;

    line-height:1.8;

    margin-bottom:25px;

}

.carousel-caption .btn{

    border-radius:50px;

    padding:14px 35px;

    font-size:20px;

    font-weight:600;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.carousel-control-prev,

.carousel-control-next{

    width:7%;

}

/*==============================
 Theme Toggle
==============================*/

.theme-toggle{

    width:45px;

    height:45px;

    right:35px;

    border:none;

    border-radius:50%;

    background:#ffffff;

    color:#0d6efd;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:20px;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 5px 15px rgba(0,0,0,.12);

}

.theme-toggle:hover{

    transform:rotate(20deg);

}

body.dark .theme-toggle{

    background:#1f2937;

    color:#FFD43B;

}




@media(max-width:768px){

.hero-image{

    height:500px;

}

.carousel-caption{
    top:8px;

    left:20px;

    right:20px;

}

.carousel-caption h1{

    font-size:1.9rem;

}

.carousel-caption p{

    font-size:.92rem;

    margin-bottom:12px;

}



    .hero-section .carousel-indicators{

        bottom:5px;

    }

    .hero-section .carousel-indicators button{

        width:8px;
        height:8px;

        margin:0 3px;

    }

    .hero-section .carousel-indicators .active{

        width:22px;

    }


.carousel-control-prev,

.carousel-control-next{

    display:none;

}

    #themeToggleDesktop{

        display:none;

    }

    .theme-toggle-mobile{

        display:flex;

        width:58px;

        height:58px;

        border-radius:50%;

        justify-content:center;

        align-items:center;

        margin-right:12px;

        background:#fff;

        color:#0d6efd;

        border:none;

        box-shadow:0 8px 25px rgba(0,0,0,.18);

    }

}

@media(min-width:992px){

    .theme-toggle{

        position:static;

    }

}
