{% extends 'admin/base_admin.html' %}

{% block content %}

<div class="mb-3">

    <a
        href="{% url 'subscription_price_management' %}"
        class="btn btn-secondary">

        <i class="bi bi-arrow-left"></i>

        Back

    </a>

</div>

<div class="card shadow-sm">

    <div class="card-body">

        <h3 class="mb-4">

            Add Subscription Plan

        </h3>

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label>

                    Plan Name

                </label>

                <select
                    name="name"
                    class="form-select"
                    required>

                    <option value="Basic">

                        Basic

                    </option>

                    <option value="Standard">

                        Standard

                    </option>

                    <option value="Premium">

                        Premium

                    </option>

                    <option value="Executive">

                        Executive

                    </option>

                </select>

            </div>

            <div class="mb-3">

                <label>

                    Price (₦)

                </label>

                <input
                    type="number"
                    name="price"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label>

                    Total Items

                </label>

                <input
                    type="number"
                    name="total_items"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label>

                    Validity (Days)

                </label>

                <input
                    type="number"
                    name="validity_days"
                    class="form-control"
                    value="30">

            </div>

            <div class="mb-3">

        <label class="form-label">

            Free Transport Trips

        </label>

        <input
            type="number"
            name="free_transport_trips"
            class="form-control"
            value="1"
            min="0"
            required>

        </div>

        <div class="mb-3">

    <label class="form-label">

            Plan Priority

        </label>

        <input
            type="number"
            class="form-control"
            name="priority"
            value="1"
            min="1">

        </div>

        <div class="form-check">

                <input
                    class="form-check-input"
                    type="checkbox"
                    name="upgrade_allowed"
                    checked>

                <label class="form-check-label">

                    Allow Upgrade

                </label>

            </div>

            <div class="mb-3">

                <label>

                    Description

                </label>

                <textarea
                    name="description"
                    class="form-control"
                    rows="4"></textarea>

            </div>

            <div class="form-check mb-4">

                <input
                    class="form-check-input"
                    type="checkbox"
                    name="is_active"
                    checked>

                <label
                    class="form-check-label">

                    Active Plan

                </label>

            </div>

            <button
                type="submit"
                class="btn btn-success">

                Save Subscription

            </button>

        </form>

    </div>

</div>

{% endblock %}