{% load static %}

<nav class="mobile-bottom-nav">

    <a href="{% url 'dashboard' %}"
       class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
    </a>

    <a href="{% url 'book_laundry' %}"
        class="book-button
        {% if request.resolver_match.url_name == 'book_laundry' %}
        active
        {% endif %}">

            <div class="book-circle">

                <i class="fa-solid fa-basket-shopping"></i>

            </div>

            <span>Book</span>

        </a>

    <a href="{% url 'my_orders' %}"
       class="{% if request.resolver_match.url_name == 'my_orders' %}active{% endif %}">
        <i class="fa-solid fa-box"></i>
        <span>Orders</span>
    </a>

    <a href="{% url 'notifications' %}"
       class="{% if request.resolver_match.url_name == 'notifications' %}active{% endif %} notification-link">

        <i class="fa-solid fa-bell"></i>

        {% if unread_notifications > 0 %}
       <span class="mobile-notification-badge">
            {{ unread_notifications }}
        </span>
        {% endif %}

        <span>Alerts</span>
    </a>

    <a href="{% url 'profile' %}"
       class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
    </a>

</nav>
