/*=========================================================
                BOOKING PAGE
=========================================================*/

.booking-page{
    display:grid;
    grid-template-columns:2fr 420px;
    gap:2rem;
    border:5px solid red;
}







/*=========================================================
                HERO
=========================================================*/

.booking-hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:2rem;

    margin-bottom:2rem;

}

.booking-title{

    margin-bottom:.75rem;

}

.booking-subtitle{

    color:var(--muted);

    max-width:650px;

    line-height:1.8;

}

/*=========================================================
                LEFT CONTENT
=========================================================*/

.booking-main{
    flex:1;
    min-width:0;
}

/*=========================================================
                SECTION
=========================================================*/

.booking-section{

    background:var(--surface);

    border-radius:var(--radius-lg);

    padding:2rem;

    box-shadow:var(--shadow-sm);

}

.booking-section-title{

    margin-bottom:1.5rem;

}

/*=========================================================
                SIDEBAR
=========================================================*/

.booking-sidebar{
    background:yellow;
}


/*=========================================================
                RESPONSIVE
=========================================================*/

@media(max-width:1200px){

.booking-page{

grid-template-columns:1fr;

}

.booking-sidebar{

position:relative;

top:0;

}

}