{% extends 'base_dashboard.html' %}

{% block content %}

<div class="page-container">

        <form method="POST">
        {% csrf_token %}

    <h1 class="page-title">
        Book Laundry
    </h1>

        {% if error_message %}

        <div class="order-guide">

            {{ error_message }}

        </div>

        {% endif %}

    <div class="row">

        <div class="col-lg-8">
            <div class="alert alert-info mb-4">

                <strong>How to Order:</strong>

                Select the service required for each clothing item,
                then use the + and - buttons to choose the quantity.

                Example:

                • Shirts → Wash & Iron

                • Suits → Dry Cleaning

                • Trousers → Wash & Fold

            </div>
    <div class="accordion" id="laundryAccordion">

                {% for category, clothing_items in categories.items %}

<div class="accordion-item laundry-category">

    <h2 class="accordion-header">

        <button
            class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#category{{ forloop.counter }}">

            {{ category }}

        </button>

    </h2>

    <div
        id="category{{ forloop.counter }}"
        class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
        data-bs-parent="#laundryAccordion">

        <div class="accordion-body">

            {% for item_name, services in clothing_items.items %}

            <div class="laundry-card">

                <div class="laundry-title"
                    data-bs-toggle="collapse"
                    data-bs-target="#item{{ forloop.counter }}"
                    style="cursor:pointer;">

                    <strong>{{ item_name }}</strong>

                </div>

                <div
                    id="item{{ forloop.counter }}"
                    class="collapse">

                <div class="laundry-body">

                    {% for service in services %}

                    <div class="item-row mb-3">

                        <div class="item-info">

                            <p class="fw-bold mb-1">

                                {{ service.service_type }}

                            </p>

                            <small>

                                ₦{{ service.price }}

                            </small>

                        </div>

                       <div class="quantity-controls2">

                            <button
                                class="qty2-btn2 minus-btn2"
                                type="button">

                                −

                            </button>

                            <input
                                type="number"
                                name="item_{{ service.id }}"
                                value="0"
                                min="0"
                                readonly
                                class="qty2-value2"
                                data-price="{{ service.price }}"
                                data-express="{{ service.express_price }}"
                                data-item="{{ item_name }}"
                                data-service="{{ service.service_type }}"
                            >

                            <button
                                class="qty2-btn2 plus-btn2"
                                type="button">

                                +

                            </button>

                        </div>
                    </div>

                    <hr>

                    {% endfor %}

                </div>

            </div>



            </div>

            {% endfor %}

        </div>

    </div>

</div>

{% endfor %}

</div>

</div>

        <div class="col-lg-4">

            <div class="summary-card mobile-summary">

                <h5>Order Summary</h5>
                <div id="selected-items">

                    <p class="text-muted">
                        No items selected
                    </p>

                </div>

                <hr>

                <hr>

                <p>
                    Laundry Cost:
                    ₦<span id="laundry-cost">0</span>
                </p>

                <p>
                    Pickup Distance:
                    <span id="pickup-distance">
                        0 km
                    </span>
                </p>

                <p>
                    Delivery Distance:
                    <span id="delivery-distance">
                        0 km
                    </span>
                </p>

                <p>
                    Transport Fee:
                    <strong id="transport-fee">
                        ₦0
                    </strong>
                </p>

                <p>

                    Express Service:

                    <strong id="express-fee">

                        ₦0

                    </strong>

                </p>

                <hr>

                <h4>
                    Total:
                    ₦<span id="total-cost">0</span>
                </h4>

                <hr>

            <!-- ==========================
                EXPRESS SERVICE
            ========================== -->

            <div class="express-card">

                <h5 class="mb-3">

                    ⚡ Laundry Speed

                </h5>

                <div class="form-check express-option">

                    <input
                        class="form-check-input"
                        type="radio"
                        name="express_service"
                        id="standardService"
                        value="False"
                        checked>

                    <label
                        class="form-check-label"
                        for="standardService">

                        <strong>

                            Standard Service

                        </strong>

                        <br>

                        <small>

                            Estimated completion:
                            2 - 3 Business Days

                        </small>

                    </label>

                </div>

                <div class="form-check express-option mt-3">

                    <input
                        class="form-check-input"
                        type="radio"
                        name="express_service"
                        id="expressService"
                        value="True">

                    <label
                        class="form-check-label"
                        for="expressService">

                        <strong>

                            ⚡ Express Service

                        </strong>

                        <br>

                        <small>

                            Priority Cleaning

                            <br>

                            Same Day / Next Day

                            <br>

                            Additional charges apply.

                        </small>

                    </label>

                </div>

            </div>

            <hr>

            <h5 class="booking-title mt-3">

                Booking Details

            </h5>

                <div class="booking-form">

                        <div class="mb-3">
                            <label class="form-label">
                                Pickup Address
                            </label>

                            <div class="position-relative">

                                <input
                                type="text"
                                name="pickup_address"
                                id="pickup-address"
                                class="form-control"
                                value="{{ request.user.default_pickup_address|default:'' }}"
                                list="pickup-history"
                                placeholder="Enter pickup address"
                                >
                                <button
                                    type="button"
                                    id="clearPickup"
                                    class="btn btn-sm btn-outline-danger position-absolute top-50 end-0 translate-middle-y me-2">

                                    <i class="fas fa-times"></i>

                                </button>

                            </div>

                            <datalist id="pickup-history">

                                {% for address in previous_addresses %}

                                    <option value="{{ address }}">

                                {% endfor %}

                            </datalist>

                            {{ form.pickup_latitude }}
                            {{ form.pickup_longitude }}


                        </div>
                            
                        {{ form.pickup_distance_km }}
                        {{ form.delivery_distance_km }}
                        {{ form.total_distance_km }}

                        <div class="mb-3">

                                <label class="form-label">
                                    Delivery Address
                                </label>

                                <div class="position-relative">

                                <input
                                        type="text"
                                        name="delivery_address"
                                        id="delivery-address"
                                        class="form-control"
                                        value="{{ request.user.default_delivery_address|default:'' }}"
                                        list="delivery-history"
                                        placeholder="Enter delivery address"
                                        >

                                    <button
                                        type="button"
                                        id="clearDelivery"
                                        class="btn btn-sm btn-outline-danger position-absolute top-50 end-0 translate-middle-y me-2">

                                        <i class="fas fa-times"></i>

                                    </button>

                                </div>

                                <datalist id="delivery-history">

                                    {% for address in previous_delivery_addresses %}

                                        <option value="{{ address }}">

                                    {% endfor %}

                                </datalist>

                                {{ form.delivery_latitude }}
                                {{ form.delivery_longitude }}

                                    <div class="mb-3">

                                        <label class="form-label">

                                            Delivery Mobile Number

                                        </label>

                                        <input
                                            type="tel"
                                            name="phone_number"
                                            class="form-control"
                                            placeholder="e.g. 08136201074"
                                            required>

                                    </div>
                        </div>

                            <div class="mb-4">

                            <div id="map" class="booking-map"></div>

                                <div class="card mt-3 p-3">

                                    <p>
                                        Total Distance:
                                        <strong id="total-distance">
                                            0 km
                                        </strong>
                                    </p>

                                </div>

                            </div>

                    <div class="mb-3">

                            <label class="form-label">
                                Pickup Date
                            </label>

                            {{ form.pickup_date }}


                        </div>

                        <div class="mb-3">
                            <div class="alert alert-warning">

                                <strong>Note:</strong>

                                If any item requires special care, stain treatment,
                                delicate handling, or has specific washing instructions,
                                please include the details in the Special Instructions box below.

                            </div>
                            
                            <label class="form-label">
                                Special Instructions
                            </label>

                            {{ form.special_instructions }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Payment Method
                            </label>

                            {{ form.payment_method }}

                        </div>

                    </div>

                        <input
                            type="hidden"
                            name="test_input"
                            value="123">
                    <button
                        type="submit"
                        class="btn btn-primary w-100 mt-3">

                        Book Laundry

                    </button>


            </div>

        </div>

    </div>

</div>

<script>

const plusButtons =
    document.querySelectorAll('.plus-btn2');

const minusButtons =
    document.querySelectorAll('.minus-btn2');

function updateGrandTotal(){

    const laundryCost =
        parseFloat(
            document.getElementById(
                'laundry-cost'
            ).innerText.replace(
                /,/g,
                ''
            )
        ) || 0;

    const transportFee =
        parseFloat(
            document.getElementById(
                'transport-fee'
            )
            .innerText
            .replace('₦','')
            .replace(/,/g,'')
        ) || 0;

    const expressFee =
        parseFloat(
            document.getElementById(
                "express-fee"
            )
            .innerText
            .replace("₦","")
            .replace(/,/g,"")
        ) || 0;

    document.getElementById(
        'total-cost'
    ).innerText =
        (
        laundryCost +
        expressFee +
        transportFee
        ).toLocaleString();

}

function updateSummary(){

    let laundryCost = 0;

    let expressFee = 0;

    const expressSelected =
        document.getElementById(
            "expressService"
        ).checked;

    let selectedItemsHTML = '';

    document
        .querySelectorAll('.qty2-value2')
        .forEach(input => {

            const qty2 =
                parseInt(
                    input.value
                ) || 0;

            if(qty2 <= 0){
                return;
            }

            const itemName =
                input.dataset.item;

            const serviceType =
                input.dataset.service;

            const price =
                parseFloat(
                    input.dataset.price
                );

            const subtotal =
                qty2 * price;

            laundryCost += subtotal;

            if(expressSelected){

            expressFee +=
                qty2 *
                parseFloat(
                    input.dataset.express
                );

            }

            selectedItemsHTML += `

                <div class="summary-item">

                    <div>

                        <strong>
                            ${itemName}
                        </strong>

                        <br>

                        <small>
                            ${serviceType}
                        </small>

                        <br>

                        <small>
                            Qty: ${qty2}
                        </small>

                    </div>

                    <span>

                        ₦${subtotal.toLocaleString()}

                    </span>

                </div>

            `;
        });

    if(selectedItemsHTML === ''){

        selectedItemsHTML = `
            <p class="text-muted">
                No items selected
            </p>
        `;
    }

    document.getElementById(
        'selected-items'
    ).innerHTML =
        selectedItemsHTML;

    document.getElementById(
        'laundry-cost'
    ).innerText =
        laundryCost.toLocaleString();

    document.getElementById(
    "express-fee"
    ).innerText =
    "₦" +
    expressFee.toLocaleString();

    updateGrandTotal();

}

plusButtons.forEach(button => {

    button.addEventListener(
        'click',
        function(){

            const qtyInput =
                this.parentElement.querySelector(
                    '.qty2-value2'
                );

            qtyInput.value =
                parseInt(qtyInput.value || 0) + 1;

            updateSummary();

        }
    );

});


minusButtons.forEach(button => {

    button.addEventListener(
        'click',
        function(){

            const qtyInput =
                this.parentElement.querySelector(
                    '.qty2-value2'
                );

            let value =
                parseInt(qtyInput.value || 0);

            if(value > 0){

                qtyInput.value =
                    value - 1;

            }

            updateSummary();

        }
    );

});

updateSummary();

document
.querySelectorAll(
    'input[name="express_service"]'
)
.forEach(radio=>{

    radio.addEventListener(
        "change",
        updateSummary
    );

});

</script>

<!-- no google maps script -->
<script
src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places">
</script>

<script>

let map;
let pickupMarker = null;
let deliveryMarker = null;

let pickupRoute = null;
let deliveryRoute = null;

const STORE_LAT = parseFloat(
    "{{ site_settings.business_latitude }}"
);

const STORE_LNG = parseFloat(
    "{{ site_settings.business_longitude }}"
);

/* ==========================
   LOAD MAP
========================== */

window.addEventListener(
    'load',
    function(){

        map = L.map('map').setView(
            [STORE_LAT, STORE_LNG],
            14
        );

            L.tileLayer(
                'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    attribution:
                    '&copy; OpenStreetMap contributors'
                }
            ).addTo(map);


        L.marker(
            [STORE_LAT, STORE_LNG]
        )
        .addTo(map)
        .bindPopup(
            'WashEasy Store'
        )
        .openPopup();

    }
);

function calculateDistance(
    lat1,
    lon1,
    lat2,
    lon2
){

    const R = 6371;

    const dLat =
        (lat2-lat1)
        * Math.PI / 180;

    const dLon =
        (lon2-lon1)
        * Math.PI / 180;

    const a =
        Math.sin(dLat/2)
        * Math.sin(dLat/2)
        +
        Math.cos(
            lat1*Math.PI/180
        )
        *
        Math.cos(
            lat2*Math.PI/180
        )
        *
        Math.sin(dLon/2)
        *
        Math.sin(dLon/2);

    const c =
        2 *
        Math.atan2(
            Math.sqrt(a),
            Math.sqrt(1-a)
        );

    return R*c;

}

/* ==========================
   GOOGLE AUTOCOMPLETE
========================== */

function recalculateTransportFee(){

    const pickupDistance =
        parseFloat(
            document.getElementById(
                "id_pickup_distance_km"
            ).value || 0
        );

    const deliveryDistance =
        parseFloat(
            document.getElementById(
                "id_delivery_distance_km"
            ).value || 0
        );

    const totalDistance =
        pickupDistance +
        deliveryDistance;

    document.getElementById(
        "total-distance"
    ).innerText =
        totalDistance.toFixed(2) +
        " km";

    document.getElementById(
        "id_total_distance_km"
    ).value =
        totalDistance.toFixed(2);

    const PRICE_PER_KM =
        parseFloat(
            "{{ site_settings.transport_price_per_km }}"
        );

    const transportFee =
        totalDistance *
        PRICE_PER_KM;

    document.getElementById(
        "transport-fee"
    ).innerText =
        "₦" +
        transportFee.toLocaleString();

    updateGrandTotal();

}

function initAutocomplete(){

    const pickupInput =
        document.getElementById(
            'pickup-address'
        );

    const deliveryInput =
        document.getElementById(
            'delivery-address'
        );

    if(
        !pickupInput ||
        !deliveryInput
    ){
        return;
    }

    const pickupAutocomplete =
        new google.maps.places.Autocomplete(
            pickupInput,
            {
                componentRestrictions:{
                    country:['ng']
                }
            }
        );

    const deliveryAutocomplete =
        new google.maps.places.Autocomplete(
            deliveryInput,
            {
                componentRestrictions:{
                    country:['ng']
                }
            }
        );

    pickupAutocomplete.addListener(
        'place_changed',
        function(){

            const place =
                pickupAutocomplete.getPlace();

            if(
                !place.geometry
            ){
                return;
            }

            const lat =
                place.geometry
                .location
                .lat();

            const lng =
                place.geometry
                .location
                .lng();

            const pickupDistance =
                        calculateDistance(
                            lat,
                            lng,
                            STORE_LAT,
                            STORE_LNG
                        );

                    document.getElementById(
                        'pickup-distance'
                    ).innerText =
                        pickupDistance.toFixed(2)
                        + ' km';

                    document.getElementById(
                        'id_pickup_distance_km'
                    ).value =
                        pickupDistance.toFixed(2);

                    /* GET DELIVERY DISTANCE */
                        const deliveryDistance =
                            parseFloat(
                                document.getElementById(
                                    'id_delivery_distance_km'
                                ).value || 0
                            );

                        /* TOTAL DISTANCE */

                        const totalDistance =
                            pickupDistance +
                            deliveryDistance;

                        document.getElementById(
                            'total-distance'
                        ).innerText =
                            totalDistance.toFixed(2)
                            + ' km';

                        document.getElementById(
                            'id_total_distance_km'
                        ).value =
                            totalDistance.toFixed(2);

                        /* TRANSPORT FEE */

                        const PRICE_PER_KM = parseFloat(
                            "{{ site_settings.transport_price_per_km }}"
                        );

                        const transportFee =
                            totalDistance *
                            PRICE_PER_KM;

                        document.getElementById(
                            'transport-fee'
                        ).innerText =
                            '₦' +
                            transportFee.toLocaleString();

                        updateGrandTotal();

            document.getElementById(
                'id_pickup_latitude'
            ).value = lat;

            document.getElementById(
                'id_pickup_longitude'
            ).value = lng;

           if(pickupMarker){

    map.removeLayer(
        pickupMarker
    );

}

        if(pickupRoute){

            map.removeLayer(
                pickupRoute
            );

        }

        pickupMarker =
            L.marker(
                [lat, lng]
            )
            .addTo(map)
            .bindPopup(
                'Pickup Location'
            );

        pickupRoute =
            L.polyline(
                [
                    [lat, lng],
                    [STORE_LAT, STORE_LNG]
                ],
                {
                    color:'#0d6efd',
                    weight:6
                }
            )
            .addTo(map);

            map.setView(
                [lat, lng],
                14
            );

        }
    );

    deliveryAutocomplete.addListener(
    'place_changed',
    function(){

        const place =
            deliveryAutocomplete.getPlace();

        if(
            !place.geometry
        ){
            return;
        }

        const lat =
            place.geometry
            .location
            .lat();

        const lng =
            place.geometry
            .location
            .lng();

        /* DELIVERY DISTANCE */

        const deliveryDistance =
            calculateDistance(
                STORE_LAT,
                STORE_LNG,
                lat,
                lng
            );

        document.getElementById(
            'delivery-distance'
        ).innerText =
            deliveryDistance.toFixed(2)
            + ' km';

        document.getElementById(
            'id_delivery_distance_km'
        ).value =
            deliveryDistance.toFixed(2);

        /* GET PICKUP DISTANCE */

        const pickupDistance =
            parseFloat(
                document.getElementById(
                    'id_pickup_distance_km'
                ).value || 0
            );

        /* TOTAL DISTANCE */

        const totalDistance =
            pickupDistance +
            deliveryDistance;

        document.getElementById(
            'total-distance'
        ).innerText =
            totalDistance.toFixed(2)
            + ' km';

        document.getElementById(
            'id_total_distance_km'
        ).value =
            totalDistance.toFixed(2);

        /* TRANSPORT FEE */

       const PRICE_PER_KM = parseFloat(
    "{{ site_settings.transport_price_per_km }}"
        );

        const transportFee =
            totalDistance *
            PRICE_PER_KM;

        document.getElementById(
                'transport-fee'
            ).innerText =
                '₦' +
                transportFee.toLocaleString();

            updateGrandTotal();

        /* SAVE COORDINATES */

        document.getElementById(
            'id_delivery_latitude'
        ).value = lat;

        document.getElementById(
            'id_delivery_longitude'
        ).value = lng;

        /* REMOVE OLD MARKER */

        if(
            deliveryMarker
        ){

            map.removeLayer(
                deliveryMarker
            );

        }

        if(
            deliveryRoute
        ){

            map.removeLayer(
                deliveryRoute
            );

        }

        /* CREATE NEW MARKER */

        deliveryMarker =
            L.marker(
                [lat, lng]
            )
            .addTo(map)
            .bindPopup(
                'Delivery Location'
            );

        /* CREATE ROUTE */

        deliveryRoute =
            L.polyline(
                [
                    [STORE_LAT, STORE_LNG],
                    [lat, lng]
                ],
                {
                    color:'#198754',
                    weight:6
                }
            )
            .addTo(map);

        /* FIT MAP */

        const group =
            new L.featureGroup(
                [
                    pickupMarker,
                    deliveryMarker
                ].filter(Boolean)
            );

        map.fitBounds(
            group.getBounds(),
            {
                padding:[50,50]
            }
        );

    }
);

}

document
.getElementById("clearPickup")
.addEventListener(
    "click",
    function(){

        document.getElementById(
            "pickup-address"
        ).value = "";

        document.getElementById(
            "pickup-distance"
        ).innerText = "0 km";

        document.getElementById(
            "id_pickup_distance_km"
        ).value = 0;

        document.getElementById(
            "id_pickup_latitude"
        ).value = "";

        document.getElementById(
            "id_pickup_longitude"
        ).value = "";

        if(pickupMarker){

            map.removeLayer(
                pickupMarker
            );

            pickupMarker = null;

        }

        if(pickupRoute){

            map.removeLayer(
                pickupRoute
            );

            pickupRoute = null;

        }

        recalculateTransportFee();

    }
);

document
.getElementById("clearDelivery")
.addEventListener(
    "click",
    function(){

        document.getElementById(
            "delivery-address"
        ).value = "";

        document.getElementById(
            "delivery-distance"
        ).innerText = "0 km";

        document.getElementById(
            "id_delivery_distance_km"
        ).value = 0;

        document.getElementById(
            "id_delivery_latitude"
        ).value = "";

        document.getElementById(
            "id_delivery_longitude"
        ).value = "";

        if(deliveryMarker){

            map.removeLayer(
                deliveryMarker
            );

            deliveryMarker = null;

        }

        if(deliveryRoute){

            map.removeLayer(
                deliveryRoute
            );

            deliveryRoute = null;

        }

        recalculateTransportFee();

    }
);

window.addEventListener(
    'load',
    initAutocomplete
);

</script>

</form>

{% endblock %}



