{% extends 'base_dashboard.html' %}

{% block content %}

<div class="page-container">

    <h1 class="page-title">
        My Orders
    </h3>

    {% if orders %}

        {% if subscription %}

    <div class="subscription-order-card">

        <div class="subscription-top">

            <div>

                <h4>

                    ⭐ Subscription #{{ subscription.id }}

                </h4>

                <p>

                    {{ subscription.plan.name }}

                </p>

            </div>

            <span class="badge bg-success">

                {{ subscription.status }}

            </span>

        </div>

        <div class="subscription-progress">

            {% widthratio subscription.remaining_items subscription.total_items 100 as progress %}

            <div class="progress">

                <div
                    class="progress-bar bg-primary"
                    style="width: {{ progress }}%;">

                </div>

            </div>

            <p>

                {{ subscription.remaining_items }}
                /
                {{ subscription.total_items }}
                Items Remaining

            </p>

        </div>

        <div class="subscription-actions">

            <a
            href="{% url 'subscription_detail' subscription.id %}"
            class="btn btn-primary">

                <i class="bi bi-eye-fill"></i>

                View Subscription

            </a>

        </div>

    </div>

    {% endif %}
    
        {% for order in orders %}

       <a href="{% url 'order_detail' order.id %}" class="order-link">

            <div class="order-card">

            <div class="order-top">

            <div>

            <span class="order-number">

            Order #{{ order.customer_order_number }}

            </span>

            <div class="order-service">

            {{ order.service_type }}

            </div>

            </div>

            <span class="badge badge-primary">

            {{ order.status }}

            </span>

            </div>

            <div class="order-middle">

            <div>

            <strong>Total</strong>

            <br>

            ₦{{ order.total_amount }}

            </div>

            <div>

            <strong>Pickup</strong>

            <br>

            {{ order.pickup_date|date:"M d, Y"|default:"Pending" }}

            </div>

            </div>

            <div class="order-bottom">

            <div class="order-price">

            ₦{{ order.total_amount }}

            </div>

            <div class="order-arrow">

            <i class="bi bi-arrow-right"></i>

            </div>

            </div>

            </div>

        </a>
        {% endfor %}

    {% else %}

        <div class="mobile-card">

            <h5>
                No Orders Yet
            </h5>

            <p>
                Your laundry orders will appear here.
            </p>

        </div>

    {% endif %}

</div>

{% endblock %}